body

{
    background-image:url('pobierz.png') ; 
    background-size: cover;
color:rgb(63, 52, 37);
font-size: larger;
}
div{
    background-color: white;
    border-radius: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 15px 20px white;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}